DATABASE_URL="file:./dev.db"
#MYSQL_ROOT_PASSWORD=YOUR_PASSWORD

# Discord bot token. You can get it from the Discord Developer Portal.
TOKEN="YOUR_TOKEN"

# Test slash commands will only be registered in this guild. If you want to test them, you need to add the bot to this guild.
# Bot must have the "applications.commands" scope enabled in this guild.
TEST_GUILD_ID="YOUR_TEST_GUILD_ID"

# Projects dashboard 
PROJECTS_DASHBOARD_CHANNEL_ID="YOUR_CHANNEL_ID"
PLANE_API_KEY="YOUR_PLANE_API_KEY"
PLANE_PROJECT_ID="YOUR_PLANE_PROJECT_ID"
PLANE_WORKSPACE_SLUG="YOUR_PLANE_WORKSPACE_SLUG"

DASHBOARD_REFRESH_INTERVAL_HOURS=6 # 6 hours interval for refreshing the dashboard.
PROGRESS_THRESHOLD=0.08 # Tolerance to the deviation from the expected progress.
STAGNATION_THRESHOLD_DAYS=10 # Number of days without progress before a project is considered stalled.

HYPERION_URL="https://hyperion.myecl.fr" # URL of the Hyperion API.